.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#resourceContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 36vw);
  grid-template-rows: 4rem repeat(2, 24vw);
  grid-template-areas:
    "heading heading"
    "card1 card2"
    "card3 card4";
  place-content: center;
}

#resourceContainer :nth-child(1) {
  grid-area: heading;
  margin-left: 2vw;
}
#resourceContainer :nth-child(2) {
  grid-area: card1;
}
#resourceContainer :nth-child(3) {
  grid-area: card2;
}
#resourceContainer :nth-child(4) {
  grid-area: card3;
}
#resourceContainer :nth-child(5) {
  grid-area: card4;
}

@media screen and (max-width: 18cm) {
  #title {
    font-size: 5rem;
  }

  .landingSlogan {
    font-size: 4rem;
  }

  #resourceContainer {
    grid-template-columns: 42vh;
    grid-template-rows: 6vh repeat(4, 23vh);

    grid-template-areas:
      "heading"
      "card1"
      "card2"
      "card3"
      "card4";
  }
}
